<LinkTo @route='{{@route}}' data-test-button>
  <button
    class='button'
    ...attributes
    aria-label='{{@aria-label}}'
    type='button'
  >
    <span class='label'>{{yield}}</span>
  </button>
</LinkTo>