<nav class='menu'>
  <div class='menu-left width-15' data-test-menu-left></div>
  <div class='menu-center width-70' data-test-menu-center>
    <LinkTo @route='index' class='menu-index'>
      <h1>Tic<b>Tac</b>Toe</h1>
    </LinkTo>
  </div>
  <div class='menu-right width-15' data-test-menu-right>
    <LinkTo @route='how-to-play' class='menu-how-to-play'>
      <span class='material-icons'>help_outline</span>
    </LinkTo>
  </div>
</nav>