{{page-title 'Tic-Tac-Toe'}}
<NavBar />
{{! <label class='mdc-text-field mdc-text-field--filled'>
  <span class='mdc-text-field__ripple'></span>
  <input type='text' class='mdc-text-field__input' aria-labelledby='my-label' />
  <span class='mdc-floating-label' id='my-label'>Label</span>
  <span class='mdc-line-ripple'></span>
</label> }}
<div class='content'>
  {{outlet}}
</div>
<Footer>
  &copy; TicTacToeish
</Footer>